.dealer-hand {
    position: absolute;
    top: 0;
    border: solid gray 1px;
    border-radius: 5px;
    width: 100%;
    margin: 20px;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.player-hand {
    position: absolute;
    bottom: 0;
    border: solid gray 1px;
    border-radius: 5px;
    width: 100%;
    margin: 20px;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card {
    margin: 5px;
    width: 150px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card p {
    text-align: center;
    height: 25px;
}

.card img {
    height: 210px;
    width: auto;
    max-width: 150px;
}

.add-card {
    margin: 5px;
    width: 150px;
    height: 210px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-card form {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.add-card .add {
    padding: 0;
    font-family: inherit;
    font-size: 80px;
    border: solid rgb(150, 150, 150) 2px;
    border-radius: 10px;
    background-color: white;
    color: rgb(150, 150, 150);
    width: 100%;
    height: 100%;
    transition-duration: 0.2s;
}

.add-card .add:hover {
    background-color: rgb(230, 230, 230);
    color: rgb(104, 104, 104);
    /* border-color: rgb(90, 90, 90); */
}

.gameover {
    position: absolute;
    border: solid black 5px;
    width: 60vh;
    height: 60vh;
    background-color: white;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.winner {
    grid-area: 1 / 2 / 2 / 3;
    place-self: center;
    text-align: center;
}

.buttons {
    grid-area: 2 / 2 / 3 / 3;
    place-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 9;
}

.stay {
    position: absolute;
    bottom: 280px;
}

.stay-button {
    margin: 5px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    color: white;
    border: solid black 1px;
    border-radius: 3px;
    width: 120px;
    height: 50px;
    transition-duration: 0.2s;
}

.stay-button:hover {
    color: black;
    background-color: white;
}