<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='table-style.css') }}">
</head>

<body>
    <header>
        <div class="title-bar">
            <h1><a href="/">Blackjack</a></h1>
            {% if not current_user.is_authenticated %}
            <h3><a href="{{ url_for('login') }}">Login</a>/<a href="{{ url_for('signup') }}">Sign Up</a></h3>
            {% else %}
            <h3><a href="{{ url_for('logout') }}">Logout</a></h3>
            {% endif %}
        </div>
    </header>

    <div class="container">
        <div class="dealer-hand">
            <div class="card">
                <img src="{{ url_for('static', filename='back-of-card.png') }}" alt="">
            </div>
            {% for i in range(1, dealer|length) %}
            <div class="card">
                <img src="{{ dealer[i]['image'] }}">
            </div>
            {% endfor %}
        </div>


        <div class="player-hand">
            {% for card in player %}
            <div class="card">
                <!-- <p>{{ card['value'] }} of {{ card['suit'] }}</p> -->
                <img src="{{ card['image'] }}">
            </div>
            {% endfor %}
            <div class="add-card">
                <form method="POST">
                    <input type="text" class="deck-id" name="deckId" value="{{ deckId }}" readonly>
                    <input type="submit" class="add" value="+">
                </form>
            </div>
        </div>
    </div>

</body>

</html>